<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Eanvan.mapper.TopicMapper">
    <!--select-->
    <!--超过1个参数就要使用@param标注-->
    <select id="selectTopicByTid" resultType="com.Eanvan.model.Topic">
        select * from tb_topic where tid = #{i};
    </select>

    <!--定义Tid 大于10的为社区分区-->
    <select id="listTopics" resultType="com.Eanvan.model.Topic">
        select tid,name,content,image from tb_topic where tid > 10;
    </select>

    <select id="listImage" resultType="string">
        select image_url from tb_image;
    </select>

    <select id="listCityTopicByTid" resultType="com.Eanvan.model.SubTopicCity">
        SELECT  `cityId`,  `tid`,  `name`,  `content`,  `imageUrl`
        FROM  tb_topic_city where tid = #{tid};
    </select>

    <select id="listCitySectionByCityId" resultType="com.Eanvan.model.SubTopicCitySections">
        SELECT  `id`,  `cityId`,  `name`,  `content`,  `imageUrl`
        FROM  tb_topic_city_section where cityId = #{cityID};
    </select>

    <select id="getTopicByTid" resultType="com.Eanvan.model.Topic">
        SELECT  `tid`,  `name`,  `content`,  `image`
        FROM  tb_topic where tid = #{tid};
    </select>

    <select id="getCityByCityId" resultType="com.Eanvan.model.SubTopicCity">
        SELECT   `cityId`,  `tid`,  `name`,  `content`,  `imageUrl`
        FROM  tb_topic_city where cityId = #{cityId};
    </select>

    <select id="getCitySectionByCityIdAndName" resultType="com.Eanvan.model.SubTopicCitySections">
        SELECT   `id`,  `cityId`,  `name`,  `content`,  `imageUrl`
        FROM  tb_topic_city_section where cityId = #{cityId} and name = #{name}
    </select>

    <!--insert-->
    <insert id="insertTopic">
        INSERT INTO tb_topic ( `name`, `content`, `image`)
        VALUES  (#{name}, #{content}, #{image} );
    </insert>
    <!--update-->


    <!--delete-->

</mapper>
