<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Eanvan.mapper.UserMapper">

    <resultMap id="userMap" type="com.Eanvan.model.User">
        <id column="uid" property="uid"></id>
        <result column="username" property="username"></result>
        <result column="head_url" property="headUrl"></result>
    </resultMap>

    <resultMap id="userDetailMap" type="com.Eanvan.model.User">
        <id column="uid" property="uid"></id>
        <result column="username" property="username"></result>
        <result column="email" property="email"></result>
        <result column="joinTime" property="joinTime"></result>
        <result column="description" property="description"></result>
        <result column="head_url" property="headUrl"></result>
        <result column="root" property="root"></result>
        <result column="position" property="position"></result>
        <result column="school" property="school"></result>
        <result column="job" property="job"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="post_count" property="postCount"></result>
        <result column="scan_count" property="scanCount"></result>
        <result column="follow_count" property="followCount"></result>
        <result column="follower_count" property="followerCount"></result>
        <result column="nickname" property="nickname"></result>
        <result column="gender" property="gender"></result>
        <result column="birthday" property="birthday"></result>
        <result column="introduction" property="introduction"></result>
    </resultMap>

    <!--select-->
    <!--超过1个参数就要使用@param标注-->
    <select id="selectUserByUserNameAndPassword" resultType="int">
        select uid from tb_user where username=#{username} and password=#{password};
    </select>

    <select id="selectUserByUid" resultMap="userDetailMap">
        select * from tb_user where uid = #{uid};
    </select>

    <select id="selectUserByUsername" resultType="int">
        select count(uid) from tb_user where username=#{username};
    </select>

    <select id="selectUserHeadUrlByUid" resultType="string">
        select head_url from tb_user where uid = #{uid};
    </select>

    <select id="listUserByTime" resultMap="userMap">
        select uid,username,head_url from tb_user order by join_time desc limit 6;
    </select>

    <select id="listUserByHot" resultMap="userMap">
        select uid,username,head_url from tb_user order by post_count desc limit 6;
    </select>

    <select id="selectEditInfo" resultType="com.Eanvan.model.User">
        select uid,username,description,position,school,job from tb_user
        where uid=#{uid};
    </select>

    <select id="selectPasswordByUid" resultType="string">
        select password from tb_user where uid = #{uid};
    </select>

    <select id="selectVerifyCode" resultType="string">
        select activate_code from tb_user where email=#{email}
    </select>
    <!--insert-->
    <insert id="InsertUser">
        insert tb_user (username,password,join_time)
        values (#{username},#{password},#{joinTime});
    </insert>

    <insert id="insertInfo">
        insert into tb_info (request_url,context_path,remote_addr)
        values (#{requestUrl},#{contextPath},#{remoteAddr});
    </insert>
    <!--update-->
    <update id="updateUserHeadUrl">
        UPDATE tb_user SET
        `head_url` = #{headUrl} WHERE `uid` = #{uid};
    </update>

    <update id="updateScanCount">
         update tb_user set scan_count = scan_count + 1 where uid = #{uid};
    </update>

    <update id="updateUser">
        update tb_user set username=#{username},description=#{description},position=#{position},school=#{school},job=#{job}
        where uid=#{uid};
    </update>

    <update id="updatePassword">
        update tb_user set password=#{newPassword} where uid = #{uid};
    </update>
    <!--delete-->

</mapper>
